################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RegistroAlumnasInframor/.vs/RegistroAlumnasInframor/v16/Server/sqlite3
/RegistroAlumnasInframor/RegistroAlumnasInframor/.vs/RegistroAlumnasInframor/v16/Server/sqlite3
